
  


*{
    margin:0;
    padding:0;
    box-sizing: content-box;
    font-family: "Laila", serif;
    overflow-x: hidden;
}
#main{
    overflow: hidden;
}

/* 
-------------------------------------------nav section--------------------------------------- */

#nav{
    /* position: fixed; */
    top:0;
    padding:2vh 2vw;
    width:100%;
    height:20vh;
    display:flex;
    justify-content: space-between;
    align-items: center;
    /* border:1px solid black; */
    
}

#nav-part-1{
    width:20%;
    height:50%;
    /* border:1px solid black; */
    overflow: hidden;
    
    
}
#nav-part-1 h2{
    font-weight: 450;
    font-size: 2.5vw;
}
#nav-part-2{
    display: flex;
    gap:4vw;
    align-items: center;
    width:60%;
    height:50%;
    /* border:1px solid black; */
    font-family: "Roboto", sans-serif;
}
.nav-items{
    font-size: 1.5vw;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    color:black;
}


/* -----------------------------------------banner section------------------------------------------------ */

#banner{
    position: relative;
    width:100%;
    height:80vh;
    /* border:1px solid black; */
    /* margin-top: 20vh; */
    display:flex;
    justify-content: center;
    /* align-items: center; */

}
#banner-title-div{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50% , -50%);
    display:flex;
    flex-direction: column;
    /* gap: 5vh; */
    /* height: 50%; */
    align-items: center;
    z-index: 3;
}
#banner-title{
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 4.5vw;;
    
    line-height: 1.25;
    font-weight: 500;
    overflow: hidden;
    z-index: 3;
    

}

#underline{
    width:45%;
    background-image:url(https://thisisdigital.co.uk/dist/images/underline-green.svg);
    /* position: absolute; */
    height: 3vh;
    /* bottom: -5%; */
    /* left:50%; */
    background-size: cover;
    z-index: 3;
    /* transform: translate(-50%,0); */
}
#banner img{
    position:absolute;
}

#banner-img-1{
    width:20vw;
    aspect-ratio: 2/2.5;    
    left:5vw;
    top:8vh;
}
#banner-img-2{
    width:18vw;
    aspect-ratio: 2/1.8;    
    right:28vw;
    top:10vh;
    z-index: 2;
}
#banner-img-3{
    width:20vw;
    aspect-ratio: 2/1.8;    
    right:5vw;
    top:20vh;
    z-index: 1;
}
